<div class="empty-cart-container">
  <div class="topbar">
    <button class="menu-btn">
     <i class="fa fa-bars"></i>
    </button>

    <button class="order-view-btn">
      View Orders
    </button>
  </div>
   <h1>Order Details </h1>
    <h2>Your Bucket Bag is empty</h2>
    <p>Looks like you haven’t added anything to your cart yet. Start exploring and shop your favorite items!</p>

  <div class="empty-content">
    <div class="cart-illustration">
      <img src="assets/images/categories/empty_cart.png" alt="Empty Cart" />
    </div>


    <button class="start-shopping-btn" (click)="goToMenu()">
      Browse Products
      <i class="bi bi-arrow-right arrow-icon"></i>
    </button>
  </div>
</div>
