/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

:root {
  --primary-color:#648813;
  --primary-color-hover: #648813;
  --secondary-color: #648813;
  --secondary-color-hover: #648813;
  --bg-light: #f8f8f8;
  --text-dark: #222;
}
